{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1>Reviews</h1>

<p1>Read reviews about this item</p1>

<ul>
    <li>Elon_Musk: I will soon own the company that makes this product</li>
    <li>Barack_Obama: This product is fantastic!</li>
    <li>TheLegend27: I love it! </li>
</ul>

<br>
<label for="exampleFormControlInput1">Leave a review! Submit the review and the moderators will check it and publish it if deemed appropriate!</label>

<form>
    <br>
  <div class="form-group">
    <label for="exampleFormControlInput1">Enter Name or Username</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter a message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <br>
    <a href="{% url 'store' %}" onclick="if (confirm('Click ok to submit this review, otherwise click cancel to go back')){return true;}else{event.stopPropagation(); event.preventDefault();};" title="Link Title">
        <button type="button" class="btn btn-primary" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">Submit Review</span>
</button>
</form>
{% endblock content %}