<!DOCTYPE html>
{% load static %}
<html>
<head>

	<title>iBuy</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <style>

        #title {
            text-align: center;
            color: black;
            font-size: 50px
        }
        
        #input-fields {
            text-align: center;
            margin-top: 45px;
        }
        
        #password {
            margin-top: 45px;
        }
        
        #password2 {
            margin-top: 45px;
        }
        
        #create-button {
            margin-top: 40px;
            font-size: 30px;
        }
                        
    </style>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'store' %}">iBuy</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
		    	</ul>		    	
    			<div class="form-inline my-2 my-lg-0">		
        			<a href="{% url 'login' %}" class="btn btn-warning">Login</a>
            	</div>				
			</div>
        </div>
	</nav>
	
    <div id="title">Create Account</div>
    <div id="input-fields">
        <form action="createAccount" method="POST">
            {% csrf_token %}
            <p>Enter Username</p>
            <input name="username">
            <p id="password">Enter Password</p>
            <input name="password">
            <p id="password2">Re-Enter Password</p>
            <input name="password2">
            <p><a href="{% url 'store' %}" style="margin-top: 40px; font-size: 30px;" class="btn btn-secondary btn-lg">Create</a></p>
        </form>
        <p style="text-align: left; margin-left: 20px" ><a href="{% url 'store' %}" class="btn btn-success btn-lg">Home</a></p>    </div>

    <div class = "container">
        {% block content %}
    	{% endblock content %}
    </div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	</body>
	</html>